<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../static/scss/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title> {{ title }} - Miniblog</title>
    {% else %}
        <title>Miniblog</title>
    {% endif %}

    {% block css_import %}
    {% endblock %}
</head>
<body>

    <div>
        Microblog:
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Signup</a>
        {% else %}
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <hr>

    {% block content %}
    HOLA
    {% endblock%}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>